__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
*.egg-info/
dist/
build/
.eggs/
db.sqlite3
db.sqlite3-journal
*.log
media/
staticfiles/
.env
.coverage
htmlcov/
.pytest_cache/
celerybeat-schedule
celerybeat.pid
